{% load static %}
<!DOCTYPE html>
<form action="{% url 'search' %}" method="get">
    <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
    <input type="submit" value="Search" class="button">
</form>
<div class="aside-item-container">
    <h2>Πρόγραμμα</h2>
    <img src="/static/assets/programma_thumbnail.jpg">
</div>
<div class="aside-item-container">
    <h2>Τι να πάρω μαζί μου στο βουνό;</h2>
    <img src="/static/assets/eksoplismos_thumbnail.png">
</div>
<div class="aside-item-container">
    <h2>Μονοπάτια λόφου Περάνθης</h2>
    <img src="/static/assets/peranthi_thumbnail.jpg">
</div>
<div class="aside-item-container">
    <h2>Βαθμοί δυσκολίας</h2>
    <img src="/static/assets/vathmoi_diskolias_thumbnail.jpg">
</div>
