<!DOCTYPE html>
<form action="{% url 'search' %}" method="get">
    <input type="text" name="query"{% if search_query %} value="{{ search_query }}"{% endif %}>
    <input type="submit" value="Αναζήτηση" class="button">
</form>
<div class="aside-item-container">
    <a href="https://">
        <h2>Πρόγραμμα</h2>
        <img class="no-border" src="/static/assets/programma_thumbnail.jpg">
    </a>
</div>
<div class="aside-item-container">
    <a href="https://">
        <h2>Τι να πάρω μαζί μου στο βουνό;</h2>
        <img class="no-border" src="/static/assets/eksoplismos_thumbnail.png">
    </a>
</div>
<div class="aside-item-container">
    <a href="https://">
        <h2>Μονοπάτια λόφου Περάνθης</h2>
        <img class="no-border" src="/static/assets/peranthi_thumbnail.jpg">
    </a>
</div>
<div class="aside-item-container">
    <a href="https://">
        <h2>Βαθμοί δυσκολίας</h2>
        <img class="no-border" src="/static/assets/vathmoi_diskolias_thumbnail.jpg">
    </a>
</div>
