{% extends "base.html" %}
{% load static wagtailcore_tags %}

{% block body_class %}template-searchresults{% endblock %}

{% block title %}Search{% endblock %}

{% block content %}
<h1>Search</h1>

{% if search_results %}
<span>Showing results for:  <strong>{{search_query}}</strong></span>
<ul>
    {% for result in search_results %}
    <li>
        <h2><a href="{% pageurl result %}">{{ result.title }}</a></h4>
        <p>{{ result.specific.body|truncatewords:15|striptags|safe }} [...]</p>

        {% if result.search_description %}
        {{ result.search_description }}
        {% endif %}
    </li>
    {% endfor %}
</ul>

 <span class="current">
            Page {{ search_results.number }} of {{ search_results.paginator.num_pages }}.
        </span>

{% if search_results.has_previous %}
<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.previous_page_number }}">Previous</a>
{% endif %}

{% if search_results.has_next %}
<a href="{% url 'search' %}?query={{ search_query|urlencode }}&amp;page={{ search_results.next_page_number }}">Next</a>
<a href="?query={{ search_query|urlencode }}&amp;page={{ search_results.paginator.num_pages }}">last &raquo;</a>

{% endif %}
{% elif search_query %}
No results found
{% endif %}
{% endblock %}
