{# "page" lowercased == "self" #}

{% extends "base.html" %}
{% load wagtailcore_tags wagtailimages_tags %}
{% load static %}

{% block content %}
    <h1>{{ page.title }}</h1>
    
    {% for block in page.intro %}
        {% if block.block_type == 'paragraph' %}
            <p>{{ block }}</p>
        {% elif block.block_type == 'image' %}
            <a href="{{ block.value.file.url }}" data-lightbox="gallery">
                {{ block }}
            </a>
        {% elif block.block_type == 'gallery' %} 
            <div class="gallery columns is-multiline">
                {% for item in block.value %}
                    {% if item.block_type == "image" %}
                        <div class="column is-3"> 
                            <a href="{{ item.value.file.url }}" data-lightbox="gallery">
                                {% image item.value width-400 %}
                            </a>
                        </div>
                    {% endif %}
                {% endfor %}
            </div>
        {% else %}
            {{ block }}
        {% endif %}
    {% endfor %}

    {% for block in page.body %} 
        {% if block.block_type == 'gallery' %}
            <div class="gallery columns is-multiline">
                
<!--              <a class="image-zoom" href="#modal-image-{{forloop.counter}}">
                            <img src="{{img.url}}" alt="{{img.alt}}">
                        </a>
                        <div id="modal-image-{{forloop.counter}}" class="modal">
                            <div class="modal-background"></div>
                            <div class="modal-content">
                                <img src="{{img.url}}" alt="{{img.alt}}">
                            </div>
                            <button class="modal-close is-large" aria-label="close"></button>
                        </div>-->
<!-- {# image item.carousel_image fill-900x400 as img #} -->
                {% for item in block.value %}
                    {% if item.block_type == "image" %}
                        <div class="column is-3"> 
                            <a href="{{ item.value.file.url }}" data-lightbox="gallery">
                                {% image item.value width-400 %}
                            </a>
                        </div>
                    {% else %}
                        Videos gallery feature not implemented yet!
                    {% endif %}
                {% endfor %}
            </div>
        {% elif block.block_type == 'image' %}
            <div class="block-image">
                <a href="{{ block.value.file.url }}" data-lightbox="gallery">
                    {{ block }}
                </a>
            </div>
        {% else %}
            {{block}}
        {% endif %}
    {% endfor %}
           

    {% with tags=page.tags.all %}
        {% if tags %}
            <div class="tags">
                <h3>Tags:</h3>
                {% for tag in tags %}
                    <a href="{% slugurl 'tags' %}?tag={{ tag }}"><button class="button is-small" type="button">{{ tag }}</button></a>
                {% endfor %}
            </div>
        {% endif %}
    {% endwith %}

<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        const richtextImages = document.querySelectorAll('.richtext-image');
        richtextImages.forEach(item => {
            const link = document.createElement('a');
            link.href = `${item.src}`;
            link.setAttribute("data-lightbox", `gallery`);
            item.parentNode.insertBefore(link, item);
            link.appendChild(item);
        });
    });
</script>
{% endblock content %}
